<!-- <p>{{ todo | json }}</p> -->

<div *ngIf="todo">
    <div>
        <p *ngIf="todo.createdAt">{{todo.createdAt | dateFormat}}</p>
        <button (click)="(removeTodo())">
            <img src="#" alt="delete"> 
        </button>
        <button (click)="(editTodo())">
            <img src="#" alt="Editar"> 
        </button>
    </div>


    <!-- <div>
        <span>
            {{todo.description}}
        </span>
    </div> -->
    <div>
        <span *ngIf="!editing">{{todo.description}}</span>
        <input *ngIf="editing" type="text" [(ngModel)]="todo.description">
        <button *ngIf="editing" (click)="saveTodo()">Guardar</button>
    </div>
</div>

