<!-- <nz-table >
    <!-- <thead>
      <tr>
        <th>Tareas</th>
        <th>Fecha</th>
        <th>Opciones</th>
      </tr>
    </thead> 

    <tbody>

      <tr *ngIf="todo">
        <td >
          <input type="checkbox" id="myCheckbox" (change)="toggleFunction($event)">
          <span [style.textDecoration]="isChecked ? 'line-through' : 'none'" *ngIf="!editing">{{todo.description}}</span>
          <input *ngIf="editing" type="text" [(ngModel)]="todo.description">
          <button *ngIf="editing" (click)="saveTodo()">Guardar</button>
        </td>

        <td>
          <p *ngIf="todo.createdAt">{{todo.createdAt | dateFormat}}</p>
        </td>

        <td>
          <button (click)="(removeTodo())">
            <img src="#" alt="delete">
          </button>
          <button (click)="(editTodo())">
            <img src="#" alt="Editar">
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table> -->

<div *ngIf="todo">
    <div>
        <p *ngIf="todo.createdAt">{{todo.createdAt | dateFormat}}</p>
        <button (click)="(removeTodo())">
            <img src="#" alt="delete"> 
        </button>
        <button (click)="(editTodo())">
            <img src="#" alt="Editar"> 
        </button>
    </div>



    <div>
        <input type="checkbox" id="myCheckbox" (change)="toggleFunction($event)">
<span [style.textDecoration]="isChecked ? 'line-through' : 'none'" *ngIf="!editing">{{todo.description}}</span>


        <input *ngIf="editing" type="text" [(ngModel)]="todo.description">
        <button *ngIf="editing" (click)="saveTodo()">Guardar</button>
    </div>
</div>

