<br>
  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
    <input id="buscador" type="text" nz-input placeholder="Buscar..." [(ngModel)]="searchText"/>
  </nz-input-group>
  <ng-template #suffixIconButton>
    <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
  </ng-template>

<nz-table>
  <thead>
    <tr>
      <th>Tareas</th>
      <th>Fecha</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todoList | filter:searchText">
      <td>
        <input
          type="checkbox"
          (change)="toggleFunction(todo, $event)"
          [checked]="todo.isChecked"
        /> &nbsp;
        <span
          [style.textDecoration]="todo.isChecked ? 'line-through' : 'none'"
          *ngIf="!editing"
          >{{ todo.description }}</span
        >
      </td>
      <td>{{ todo.createdAt | dateFormat }}</td>
      <td>
        <button *ngIf="editBtn" nz-button nzType="primary" (click)="editTodo(todo)"><i class="fas fa-pencil-alt"></i></button>
        <button *ngIf="editBtn" nz-button (click)="deleteTodo(todo)" nzType="danger"><i class="fas fa-trash"></i></button>
        <div *ngIf="editingTodo.id === todo.id">
          <input type="text" [(ngModel)]="editingTodo.description" *ngIf="editItem" />
          <button nz-button (click)="saveEdit()" *ngIf="editItem">Guardar</button>
          <button nz-button (click)="cancelEdit()" *ngIf="editItem">Cancelar</button>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
